<div class="container-fluid">
    <div class="row" >
        <div class="col-lg-12 col-sm-12">
            <div class="row"  >
                <div class="col-lg-12 col-sm-12">
                    <h1 class="text-center" style="background-color: #111111; color:  white; padding: 10px; cursor: pointer;" 
                    [routerLink]="['']" >Employee Management Portal</h1>
                
                    <nav class="navbar ">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <button routerLink="department"
                            class="m-1 btn-lg btn-light btn-outline-primary p-2" Button>Departments</button>
                        </li>
                
                        <li class="nav-item">
                            <button routerLink="employee"
                            class="m-1 btn-lg btn-light btn-outline-primary p-2" Button>Employees</button>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 child">
                    <router-outlet></router-outlet>
                </div>
            </div>
            </div>
        </div>
    </div>

    