<h2 style="text-align: center;">Add Employee</h2>

<div class="container-fluid">
    <form [formGroup]="employeeForm" (ngSubmit)="submituser()">
        <div class="row mt-4" style="display: flex; flex-direction: column;align-content: center;">
            <div class="col-lg-3">
                <label for="">Employee Name</label>
                <input type="email" formControlName="userName" class="form-control">

            </div>

            <div   class="col-lg-3">
                <label for="">Department</label>
                <select formControlName="Department" class="form-control">
                    <option>--Select--</option>
                    <option *ngFor="let depName of DepartmentsList">
                        {{depName.DepartmentName}}
                    </option>
                </select>

            </div>


            <div class="col-lg-3">
                <label for="">Date of Joining</label>
                <input type="date" formControlName="dojoining" class="form-control">
            </div>


        </div>




        <div class="row mt-4">
            <div class="col-lg-12" style="text-align: center;">
                <input type="submit" class="btn btn-primary btn-sm " style="text-align: center;" value="Add">
            </div>
        </div>
    </form>
</div>